* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Light;
  src: url("./Poppins/Poppins-Light.ttf");
}

.box {
 display: flex;
 justify-content: center;
 background-color: #FAF7FD;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 896px;
}

.avatar-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Poppins-Light;
  color: #BB99DD;
}

.avatar {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border-style: double;
  color: #BB99DD;
}

.all-links {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  margin-bottom: 300px;
  background-color: aquamarine;
}

.link-1 {
  display: flex;
  font-family: Poppins-Medium;
  color: #BB99DD;
  border-style: groove;
  border-color: #BB99DD;
  background-color: #FAF7FD;
  /* margin-left: 45px;
  margin-bottom: 50px; */
  /* margin-top: 50px; */
  width: 326px;
  height: 49px;
  justify-content: center;
}

.link-2 {
  display: flex;
  font-family: Poppins-Medium;
  color: #BB99DD;
  border-style: groove;
  border-color: #BB99DD;
  background-color: #FAF7FD;
  /* margin-left: 45px; */
  width: 326px;
  height: 49px;
  justify-content: center;
}

.link-3 {
  display: flex;
  font-family: Poppins-Medium;
  color: #BB99DD;
  border-style: groove;
  border-color: #BB99DD;
  background-color: #FAF7FD;
  /* margin-left: 45px;
  margin-top: 50px; */
  width: 326px;
  height: 49px;
  justify-content: center;
}

.link-4 {
  display: flex;
  font-family: Poppins-Medium;
  color: #BB99DD;
  border-style: groove;
  border-color: #BB99DD;
  background-color: #FAF7FD;
  /* margin-left: 45px;
  margin-top: 50px; */
  width: 326px;
  height: 49px;
  justify-content: center;
}