* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Light;
  src: url("./Poppins/Poppins-Light.ttf");
}

.box {
 display: flex;
 justify-content: center;
 background-color: #FAF7FD;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 896px;
}

.avatar-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Poppins-Light;
  color: #BB99DD;
}

.avatar {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border-style: double;
  color: #BB99DD;
}

.all-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.link-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins-Medium;
  color: #BB99DD;
  border-style: groove;
  border-color: #BB99DD;
  background-color: #FAF7FD;
  margin-top: 30px;
  width: 326px;
  height: 49px;
}

.link-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins-Medium;
  color: #BB99DD;
  border-style: groove;
  border-color: #BB99DD;
  background-color: #FAF7FD;
  margin-top: 15px;
  width: 326px;
  height: 49px;
}

.link-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins-Medium;
  color: #BB99DD;
  border-style: groove;
  border-color: #BB99DD;
  background-color: #FAF7FD;
  margin-top: 15px;
  width: 326px;
  height: 49px;
}

.link-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins-Medium;
  color: #BB99DD;
  border-style: groove;
  border-color: #BB99DD;
  background-color: #FAF7FD;
  margin-top: 15px;
  width: 326px;
  height: 49px;
}

.icons {
  display: flex; 
  margin-bottom: 300px;
}

.twitter.icon {
  display: flex;
  margin-right: 25px;
}

.twitch-icon {
  display: flex;
  margin-left: 25px;
}

.instagram-icon {
  display: flex;
  margin-left: 25px;
}

.linkedin-icon {
  display: flex;
  margin-left: 25px;
}

.github-icon {
  display: flex;
  margin-left: 25px;
}